<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-icon name="information-circle-outline" size="large" slot="start"></ion-icon>
    <ion-title>About this App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-subtitle>
      Purpose
    </ion-card-subtitle>
    <ion-card-content>
      <p>This App's Purpose is to be used as an Universal Tool App made by and for Paul</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="success">
    ©p4ul17 - 2021
  </ion-toolbar>
</ion-footer>
